.lst-kix_klcrawnlove6-6>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-6
}
.lst-kix_tmzj1mxcrj2z-0>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-0,decimal) ". "
}
.lst-kix_tmzj1mxcrj2z-1>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-1,lower-latin) ". "
}
.lst-kix_tmzj1mxcrj2z-2>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-2,lower-roman) ". "
}
.lst-kix_tmzj1mxcrj2z-4>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-4,lower-latin) ". "
}
ol.lst-kix_aongerr0eg5b-0.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-0 0
}
.lst-kix_tmzj1mxcrj2z-3>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-3,decimal) ". "
}
.lst-kix_aongerr0eg5b-1>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-1
}
ol.lst-kix_rvposxbwk3oc-7.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-7 0
}
.lst-kix_tmzj1mxcrj2z-6>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-6,decimal) ". "
}
.lst-kix_tmzj1mxcrj2z-8>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-8,lower-roman) ". "
}
.lst-kix_tmzj1mxcrj2z-5>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-5,lower-roman) ". "
}
ol.lst-kix_hvqpbc65xht0-6.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-6 0
}
.lst-kix_tmzj1mxcrj2z-7>li:before{
  content:"" counter(lst-ctn-kix_tmzj1mxcrj2z-7,lower-latin) ". "
}
.lst-kix_tmzj1mxcrj2z-1>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-1
}
ol.lst-kix_aongerr0eg5b-5.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-5 0
}
ul.lst-kix_rvposxbwk3oc-1{
  list-style-type:none
}
.lst-kix_ilelz54kri88-5>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-5
}
ul.lst-kix_ilelz54kri88-1{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-6.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-6 0
}
ol.lst-kix_hvqpbc65xht0-1.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-1 0
}
ul.lst-kix_muhjkkjc678r-0{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-2.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-2 0
}
ul.lst-kix_muhjkkjc678r-1{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-2{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-5.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-5 0
}
ol.lst-kix_klcrawnlove6-4.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-4 0
}
ul.lst-kix_muhjkkjc678r-3{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-4{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-5{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-6{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-7{
  list-style-type:none
}
ul.lst-kix_muhjkkjc678r-8{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-0{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-1{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-2{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-3{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-4{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-5{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-6{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-1.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-1 0
}
ul.lst-kix_62gi6kif1qom-7{
  list-style-type:none
}
ul.lst-kix_62gi6kif1qom-8{
  list-style-type:none
}
.lst-kix_ynq92p1zpo3w-3>li:before{
  content:"\0025cf "
}
.lst-kix_ynq92p1zpo3w-5>li:before{
  content:"\0025a0 "
}
.lst-kix_1125wxgjwlu-6>li:before{
  content:"\0025cf "
}
.lst-kix_xh84b1qleddc-0>li:before{
  content:"\0025cf "
}
.lst-kix_ynq92p1zpo3w-1>li:before{
  content:"\0025cb "
}
.lst-kix_hkhnej3rgpd1-7>li:before{
  content:"\0025cb "
}
.lst-kix_1125wxgjwlu-8>li:before{
  content:"\0025a0 "
}
ol.lst-kix_ilelz54kri88-3.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-3 0
}
.lst-kix_xh84b1qleddc-4>li:before{
  content:"\0025cb "
}
.lst-kix_hkhnej3rgpd1-3>li:before{
  content:"\0025cf "
}
.lst-kix_hkhnej3rgpd1-5>li:before{
  content:"\0025a0 "
}
.lst-kix_xh84b1qleddc-2>li:before{
  content:"\0025a0 "
}
.lst-kix_xh84b1qleddc-6>li:before{
  content:"\0025cf "
}
ol.lst-kix_ilelz54kri88-0.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-0 0
}
.lst-kix_tmzj1mxcrj2z-5>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-5
}
.lst-kix_aongerr0eg5b-8>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-8
}
.lst-kix_hkhnej3rgpd1-1>li:before{
  content:"\0025cb "
}
ol.lst-kix_hvqpbc65xht0-8.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-8 0
}
.lst-kix_1125wxgjwlu-0>li:before{
  content:"\0025cf "
}
.lst-kix_tmzj1mxcrj2z-4>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-4
}
.lst-kix_1125wxgjwlu-2>li:before{
  content:"\0025a0 "
}
.lst-kix_i36ak4feape6-2>li:before{
  content:"\0025a0 "
}
.lst-kix_i36ak4feape6-0>li:before{
  content:"\0025cf "
}
.lst-kix_1125wxgjwlu-4>li:before{
  content:"\0025cb "
}
ul.lst-kix_ynq92p1zpo3w-1{
  list-style-type:none
}
ul.lst-kix_ynq92p1zpo3w-0{
  list-style-type:none
}
.lst-kix_we7z5buoweb9-1>li:before{
  content:"\0025cb "
}
.lst-kix_we7z5buoweb9-5>li:before{
  content:"\0025a0 "
}
.lst-kix_muhjkkjc678r-6>li:before{
  content:"\0025cf "
}
.lst-kix_qydvrq81vklr-8>li:before{
  content:"\0025a0 "
}
ul.lst-kix_ynq92p1zpo3w-7{
  list-style-type:none
}
ul.lst-kix_ynq92p1zpo3w-6{
  list-style-type:none
}
.lst-kix_ilelz54kri88-5>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-5,lower-roman) ". "
}
ul.lst-kix_ynq92p1zpo3w-8{
  list-style-type:none
}
ul.lst-kix_ynq92p1zpo3w-3{
  list-style-type:none
}
ul.lst-kix_ynq92p1zpo3w-2{
  list-style-type:none
}
.lst-kix_ilelz54kri88-7>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-7,lower-latin) ". "
}
ul.lst-kix_ynq92p1zpo3w-5{
  list-style-type:none
}
.lst-kix_we7z5buoweb9-7>li:before{
  content:"\0025cb "
}
.lst-kix_muhjkkjc678r-0>li:before{
  content:"\0025cf "
}
.lst-kix_muhjkkjc678r-8>li:before{
  content:"\0025a0 "
}
ul.lst-kix_ynq92p1zpo3w-4{
  list-style-type:none
}
.lst-kix_qydvrq81vklr-2>li:before{
  content:"\0025a0 "
}
.lst-kix_hvqpbc65xht0-4>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-4,lower-latin) ". "
}
.lst-kix_i36ak4feape6-4>li:before{
  content:"\0025cb "
}
.lst-kix_hvqpbc65xht0-5>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-5
}
.lst-kix_muhjkkjc678r-2>li:before{
  content:"\0025a0 "
}
.lst-kix_qydvrq81vklr-0>li:before{
  content:"\0025cf "
}
.lst-kix_hvqpbc65xht0-0>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-0,decimal) ". "
}
ol.lst-kix_tmzj1mxcrj2z-3.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-3 0
}
.lst-kix_i36ak4feape6-8>li:before{
  content:"\0025a0 "
}
.lst-kix_i36ak4feape6-6>li:before{
  content:"\0025cf "
}
ol.lst-kix_rvposxbwk3oc-5.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-5 0
}
ol.lst-kix_aongerr0eg5b-2.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-2 0
}
.lst-kix_hvqpbc65xht0-2>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-2,lower-roman) ". "
}
.lst-kix_62gi6kif1qom-2>li:before{
  content:"\0025a0 "
}
.lst-kix_we7z5buoweb9-3>li:before{
  content:"\0025cf "
}
.lst-kix_muhjkkjc678r-4>li:before{
  content:"\0025cb "
}
ol.lst-kix_aongerr0eg5b-3.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-3 0
}
.lst-kix_62gi6kif1qom-0>li:before{
  content:"\0025cf "
}
.lst-kix_xh84b1qleddc-8>li:before{
  content:"\0025a0 "
}
.lst-kix_hvqpbc65xht0-6>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-6,decimal) ". "
}
.lst-kix_ilelz54kri88-1>li:before{
  content:"\0025cb "
}
ol.lst-kix_klcrawnlove6-1.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-1 0
}
.lst-kix_ilelz54kri88-6>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-6
}
.lst-kix_qydvrq81vklr-4>li:before{
  content:"\0025cb "
}
.lst-kix_hvqpbc65xht0-8>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-8,lower-roman) ". "
}
.lst-kix_ynq92p1zpo3w-7>li:before{
  content:"\0025cb "
}
.lst-kix_ilelz54kri88-3>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-3,decimal) ". "
}
.lst-kix_rvposxbwk3oc-5>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-5
}
ol.lst-kix_tmzj1mxcrj2z-4.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-4 0
}
.lst-kix_qydvrq81vklr-6>li:before{
  content:"\0025cf "
}
ul.lst-kix_qydvrq81vklr-6{
  list-style-type:none
}
.lst-kix_swz0rwxb8we2-3>li:before{
  content:"\0025cf "
}
ul.lst-kix_qydvrq81vklr-7{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-4{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-5{
  list-style-type:none
}
.lst-kix_swz0rwxb8we2-0>li:before{
  content:"\0025cf "
}
.lst-kix_swz0rwxb8we2-4>li:before{
  content:"\0025cb "
}
ul.lst-kix_qydvrq81vklr-8{
  list-style-type:none
}
.lst-kix_aongerr0eg5b-0>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-0
}
.lst-kix_4wet428ujvxu-5>li:before{
  content:"\0025a0 "
}
.lst-kix_4wet428ujvxu-4>li:before{
  content:"\0025cb "
}
ol.lst-kix_klcrawnlove6-7.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-7 0
}
ol.lst-kix_rvposxbwk3oc-6{
  list-style-type:none
}
.lst-kix_swz0rwxb8we2-8>li:before{
  content:"\0025a0 "
}
ol.lst-kix_rvposxbwk3oc-7{
  list-style-type:none
}
.lst-kix_hvqpbc65xht0-8>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-8
}
ol.lst-kix_rvposxbwk3oc-8{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-2{
  list-style-type:none
}
.lst-kix_swz0rwxb8we2-7>li:before{
  content:"\0025cb "
}
ol.lst-kix_rvposxbwk3oc-3{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-4{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-5{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-2{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-3{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-0{
  list-style-type:none
}
.lst-kix_4wet428ujvxu-8>li:before{
  content:"\0025a0 "
}
ol.lst-kix_rvposxbwk3oc-0{
  list-style-type:none
}
ul.lst-kix_qydvrq81vklr-1{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-7.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-7 0
}
.lst-kix_62gi6kif1qom-3>li:before{
  content:"\0025cf "
}
ol.lst-kix_aongerr0eg5b-8.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-8 0
}
ol.lst-kix_ilelz54kri88-7{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-6{
  list-style-type:none
}
.lst-kix_62gi6kif1qom-7>li:before{
  content:"\0025cb "
}
ol.lst-kix_ilelz54kri88-5{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-4{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-2.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-2 0
}
.lst-kix_rvposxbwk3oc-4>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-4
}
.lst-kix_62gi6kif1qom-6>li:before{
  content:"\0025cf "
}
ol.lst-kix_ilelz54kri88-8{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-3{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-2{
  list-style-type:none
}
ol.lst-kix_ilelz54kri88-0{
  list-style-type:none
}
.lst-kix_4wet428ujvxu-1>li:before{
  content:"\0025cb "
}
.lst-kix_hvqpbc65xht0-6>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-6
}
.lst-kix_4wet428ujvxu-0>li:before{
  content:"\0025cf "
}
ul.lst-kix_we7z5buoweb9-7{
  list-style-type:none
}
ul.lst-kix_we7z5buoweb9-6{
  list-style-type:none
}
ul.lst-kix_we7z5buoweb9-5{
  list-style-type:none
}
ul.lst-kix_we7z5buoweb9-4{
  list-style-type:none
}
.lst-kix_2bblfua0gpsh-7>li:before{
  content:"\0025cb "
}
ul.lst-kix_we7z5buoweb9-8{
  list-style-type:none
}
.lst-kix_2bblfua0gpsh-6>li:before{
  content:"\0025cf "
}
.lst-kix_klcrawnlove6-3>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-3
}
ul.lst-kix_xh84b1qleddc-4{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-3{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-2{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-1{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-0{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-8{
  list-style-type:none
}
.lst-kix_rvposxbwk3oc-0>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-0
}
ul.lst-kix_xh84b1qleddc-7{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-6{
  list-style-type:none
}
ul.lst-kix_xh84b1qleddc-5{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-8{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-5{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-4{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-7{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-6{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-1{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-0{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-3{
  list-style-type:none
}
ul.lst-kix_1125wxgjwlu-2{
  list-style-type:none
}
.lst-kix_2bblfua0gpsh-2>li:before{
  content:"\0025a0 "
}
.lst-kix_2bblfua0gpsh-3>li:before{
  content:"\0025cf "
}
ul.lst-kix_we7z5buoweb9-3{
  list-style-type:none
}
ul.lst-kix_we7z5buoweb9-2{
  list-style-type:none
}
ul.lst-kix_we7z5buoweb9-1{
  list-style-type:none
}
.lst-kix_tmzj1mxcrj2z-0>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-0
}
ul.lst-kix_we7z5buoweb9-0{
  list-style-type:none
}
.lst-kix_hvqpbc65xht0-1>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-1
}
.lst-kix_ilelz54kri88-2>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-2
}
ol.lst-kix_ilelz54kri88-6.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-6 0
}
ul.lst-kix_merq4eusohwx-4{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-3{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-2{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-1{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-8{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-7{
  list-style-type:none
}
ul.lst-kix_merq4eusohwx-6{
  list-style-type:none
}
.lst-kix_ynq92p1zpo3w-2>li:before{
  content:"\0025a0 "
}
ul.lst-kix_merq4eusohwx-5{
  list-style-type:none
}
.lst-kix_hkhnej3rgpd1-8>li:before{
  content:"\0025a0 "
}
ul.lst-kix_4wet428ujvxu-3{
  list-style-type:none
}
.lst-kix_klcrawnlove6-1>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-1
}
ul.lst-kix_4wet428ujvxu-4{
  list-style-type:none
}
ul.lst-kix_4wet428ujvxu-5{
  list-style-type:none
}
ul.lst-kix_4wet428ujvxu-6{
  list-style-type:none
}
ul.lst-kix_4wet428ujvxu-7{
  list-style-type:none
}
ul.lst-kix_4wet428ujvxu-8{
  list-style-type:none
}
.lst-kix_xh84b1qleddc-1>li:before{
  content:"\0025cb "
}
.lst-kix_xh84b1qleddc-5>li:before{
  content:"\0025a0 "
}
ul.lst-kix_4wet428ujvxu-0{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-8.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-8 0
}
ol.lst-kix_aongerr0eg5b-7.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-7 0
}
ul.lst-kix_4wet428ujvxu-1{
  list-style-type:none
}
ul.lst-kix_4wet428ujvxu-2{
  list-style-type:none
}
.lst-kix_hkhnej3rgpd1-4>li:before{
  content:"\0025cb "
}
.lst-kix_ilelz54kri88-4>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-4
}
.lst-kix_aongerr0eg5b-5>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-5
}
.lst-kix_tmzj1mxcrj2z-7>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-7
}
.lst-kix_i36ak4feape6-3>li:before{
  content:"\0025cf "
}
.lst-kix_hkhnej3rgpd1-0>li:before{
  content:"\0025cf "
}
.lst-kix_klcrawnlove6-2>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-2,lower-roman) ". "
}
ol.lst-kix_klcrawnlove6-6.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-6 0
}
.lst-kix_1125wxgjwlu-1>li:before{
  content:"\0025cb "
}
.lst-kix_1125wxgjwlu-5>li:before{
  content:"\0025a0 "
}
.lst-kix_hvqpbc65xht0-3>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-3
}
.lst-kix_muhjkkjc678r-5>li:before{
  content:"\0025a0 "
}
.lst-kix_aongerr0eg5b-5>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-5,lower-roman) ". "
}
.lst-kix_we7z5buoweb9-2>li:before{
  content:"\0025a0 "
}
.lst-kix_we7z5buoweb9-6>li:before{
  content:"\0025cf "
}
ol.lst-kix_ilelz54kri88-8.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-8 0
}
.lst-kix_tmzj1mxcrj2z-2>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-2
}
.lst-kix_muhjkkjc678r-1>li:before{
  content:"\0025cb "
}
.lst-kix_ilelz54kri88-6>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-6,decimal) ". "
}
.lst-kix_aongerr0eg5b-1>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-1,lower-latin) ". "
}
ol.lst-kix_klcrawnlove6-8.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-8 0
}
.lst-kix_hvqpbc65xht0-3>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-3,decimal) ". "
}
.lst-kix_i36ak4feape6-7>li:before{
  content:"\0025cb "
}
.lst-kix_klcrawnlove6-6>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-6,decimal) ". "
}
.lst-kix_ilelz54kri88-2>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-2,lower-roman) ". "
}
.lst-kix_qydvrq81vklr-3>li:before{
  content:"\0025cf "
}
ul.lst-kix_merq4eusohwx-0{
  list-style-type:none
}
.lst-kix_hvqpbc65xht0-7>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-7,lower-latin) ". "
}
ol.lst-kix_klcrawnlove6-0{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-1{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-2{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-3{
  list-style-type:none
}
.lst-kix_rvposxbwk3oc-2>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-2
}
ol.lst-kix_klcrawnlove6-4{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-5{
  list-style-type:none
}
.lst-kix_qydvrq81vklr-7>li:before{
  content:"\0025cb "
}
ol.lst-kix_klcrawnlove6-6{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-7{
  list-style-type:none
}
ol.lst-kix_klcrawnlove6-8{
  list-style-type:none
}
.lst-kix_ynq92p1zpo3w-6>li:before{
  content:"\0025cf "
}
.lst-kix_hvqpbc65xht0-7>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-7
}
.lst-kix_rvposxbwk3oc-3>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-3
}
.lst-kix_merq4eusohwx-0>li:before{
  content:"\0025cf "
}
.lst-kix_merq4eusohwx-1>li:before{
  content:"\0025cb "
}
.lst-kix_merq4eusohwx-2>li:before{
  content:"\0025a0 "
}
.lst-kix_rvposxbwk3oc-6>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-6,decimal) ". "
}
.lst-kix_rvposxbwk3oc-7>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-7,lower-latin) ". "
}
.lst-kix_rvposxbwk3oc-8>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-8,lower-roman) ". "
}
.lst-kix_rvposxbwk3oc-0>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-0,decimal) ". "
}
.lst-kix_merq4eusohwx-8>li:before{
  content:"\0025a0 "
}
.lst-kix_klcrawnlove6-8>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-8
}
ol.lst-kix_ilelz54kri88-4.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-4 0
}
.lst-kix_rvposxbwk3oc-5>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-5,lower-roman) ". "
}
.lst-kix_merq4eusohwx-3>li:before{
  content:"\0025cf "
}
.lst-kix_merq4eusohwx-4>li:before{
  content:"\0025cb "
}
.lst-kix_rvposxbwk3oc-3>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-3,decimal) ". "
}
.lst-kix_ilelz54kri88-7>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-7
}
.lst-kix_rvposxbwk3oc-4>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-4,lower-latin) ". "
}
.lst-kix_rvposxbwk3oc-1>li:before{
  content:"\0025cb "
}
.lst-kix_merq4eusohwx-7>li:before{
  content:"\0025cb "
}
.lst-kix_merq4eusohwx-5>li:before{
  content:"\0025a0 "
}
.lst-kix_merq4eusohwx-6>li:before{
  content:"\0025cf "
}
.lst-kix_rvposxbwk3oc-2>li:before{
  content:"" counter(lst-ctn-kix_rvposxbwk3oc-2,lower-roman) ". "
}
ul.lst-kix_swz0rwxb8we2-2{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-3{
  list-style-type:none
}
.lst-kix_aongerr0eg5b-3>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-3
}
ul.lst-kix_swz0rwxb8we2-0{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-1{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-6{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-1{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-7{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-0{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-4{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-5{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-5{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-8.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-8 0
}
ol.lst-kix_tmzj1mxcrj2z-2.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-2 0
}
ol.lst-kix_aongerr0eg5b-4{
  list-style-type:none
}
ul.lst-kix_swz0rwxb8we2-8{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-3{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-2{
  list-style-type:none
}
.lst-kix_rvposxbwk3oc-7>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-7
}
ol.lst-kix_klcrawnlove6-5.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-5 0
}
.lst-kix_tmzj1mxcrj2z-3>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-3
}
ol.lst-kix_aongerr0eg5b-6.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-6 0
}
ol.lst-kix_aongerr0eg5b-8{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-7{
  list-style-type:none
}
ol.lst-kix_aongerr0eg5b-6{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-0.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-0 0
}
ol.lst-kix_hvqpbc65xht0-7.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-7 0
}
ol.lst-kix_tmzj1mxcrj2z-7.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-7 0
}
.lst-kix_tmzj1mxcrj2z-6>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-6
}
ol.lst-kix_aongerr0eg5b-4.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-4 0
}
ol.lst-kix_klcrawnlove6-3.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-3 0
}
ol.lst-kix_rvposxbwk3oc-3.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-3 0
}
.lst-kix_aongerr0eg5b-7>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-7
}
ol.lst-kix_klcrawnlove6-0.start{
  counter-reset:lst-ctn-kix_klcrawnlove6-0 0
}
.lst-kix_hvqpbc65xht0-0>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-0
}
ol.lst-kix_tmzj1mxcrj2z-5.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-5 0
}
ol.lst-kix_aongerr0eg5b-1.start{
  counter-reset:lst-ctn-kix_aongerr0eg5b-1 0
}
.lst-kix_klcrawnlove6-1>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-1,lower-latin) ". "
}
.lst-kix_aongerr0eg5b-6>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-6,decimal) ". "
}
.lst-kix_aongerr0eg5b-8>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-8,lower-roman) ". "
}
.lst-kix_klcrawnlove6-3>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-3,decimal) ". "
}
.lst-kix_aongerr0eg5b-0>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-0,decimal) ". "
}
.lst-kix_klcrawnlove6-4>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-4
}
.lst-kix_klcrawnlove6-5>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-5,lower-roman) ". "
}
.lst-kix_aongerr0eg5b-2>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-2,lower-roman) ". "
}
.lst-kix_aongerr0eg5b-4>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-4,lower-latin) ". "
}
.lst-kix_klcrawnlove6-7>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-7,lower-latin) ". "
}
ol.lst-kix_ilelz54kri88-2.start{
  counter-reset:lst-ctn-kix_ilelz54kri88-2 0
}
ol.lst-kix_hvqpbc65xht0-6{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-7{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-8{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-8{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-7{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-6{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-1{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-0{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-0{
  list-style-type:none
}
ol.lst-kix_rvposxbwk3oc-6.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-6 0
}
ol.lst-kix_hvqpbc65xht0-1{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-2{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-5{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-3{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-4{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-4{
  list-style-type:none
}
.lst-kix_ilelz54kri88-0>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-0
}
ul.lst-kix_hkhnej3rgpd1-3{
  list-style-type:none
}
ol.lst-kix_hvqpbc65xht0-5{
  list-style-type:none
}
ul.lst-kix_hkhnej3rgpd1-2{
  list-style-type:none
}
.lst-kix_4wet428ujvxu-7>li:before{
  content:"\0025cb "
}
.lst-kix_ilelz54kri88-8>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-8
}
.lst-kix_swz0rwxb8we2-2>li:before{
  content:"\0025a0 "
}
.lst-kix_swz0rwxb8we2-1>li:before{
  content:"\0025cb "
}
.lst-kix_swz0rwxb8we2-5>li:before{
  content:"\0025a0 "
}
.lst-kix_4wet428ujvxu-6>li:before{
  content:"\0025cf "
}
.lst-kix_4wet428ujvxu-3>li:before{
  content:"\0025cf "
}
.lst-kix_swz0rwxb8we2-6>li:before{
  content:"\0025cf "
}
.lst-kix_klcrawnlove6-7>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-7
}
.lst-kix_62gi6kif1qom-4>li:before{
  content:"\0025cb "
}
ol.lst-kix_rvposxbwk3oc-4.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-4 0
}
.lst-kix_62gi6kif1qom-5>li:before{
  content:"\0025a0 "
}
.lst-kix_62gi6kif1qom-8>li:before{
  content:"\0025a0 "
}
.lst-kix_aongerr0eg5b-2>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-2
}
.lst-kix_4wet428ujvxu-2>li:before{
  content:"\0025a0 "
}
ul.lst-kix_i36ak4feape6-4{
  list-style-type:none
}
.lst-kix_klcrawnlove6-5>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-5
}
ul.lst-kix_i36ak4feape6-5{
  list-style-type:none
}
ul.lst-kix_i36ak4feape6-6{
  list-style-type:none
}
ul.lst-kix_i36ak4feape6-7{
  list-style-type:none
}
ul.lst-kix_i36ak4feape6-8{
  list-style-type:none
}
.lst-kix_rvposxbwk3oc-6>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-6
}
.lst-kix_2bblfua0gpsh-8>li:before{
  content:"\0025a0 "
}
.lst-kix_hvqpbc65xht0-4>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-4
}
.lst-kix_2bblfua0gpsh-5>li:before{
  content:"\0025a0 "
}
.lst-kix_2bblfua0gpsh-4>li:before{
  content:"\0025cb "
}
.lst-kix_2bblfua0gpsh-1>li:before{
  content:"\0025cb "
}
.lst-kix_2bblfua0gpsh-0>li:before{
  content:"\0025cf "
}
.lst-kix_aongerr0eg5b-6>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-6
}
.lst-kix_klcrawnlove6-0>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-0
}
.lst-kix_ynq92p1zpo3w-0>li:before{
  content:"\0025cf "
}
.lst-kix_ynq92p1zpo3w-4>li:before{
  content:"\0025cb "
}
ol.lst-kix_tmzj1mxcrj2z-0{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-2{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-1{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-4{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-3{
  list-style-type:none
}
.lst-kix_1125wxgjwlu-7>li:before{
  content:"\0025cb "
}
ol.lst-kix_tmzj1mxcrj2z-6{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-5{
  list-style-type:none
}
ol.lst-kix_tmzj1mxcrj2z-8{
  list-style-type:none
}
.lst-kix_xh84b1qleddc-3>li:before{
  content:"\0025cf "
}
ol.lst-kix_tmzj1mxcrj2z-7{
  list-style-type:none
}
.lst-kix_hkhnej3rgpd1-2>li:before{
  content:"\0025a0 "
}
.lst-kix_hkhnej3rgpd1-6>li:before{
  content:"\0025cf "
}
ol.lst-kix_rvposxbwk3oc-0.start{
  counter-reset:lst-ctn-kix_rvposxbwk3oc-0 0
}
ol.lst-kix_tmzj1mxcrj2z-0.start{
  counter-reset:lst-ctn-kix_tmzj1mxcrj2z-0 0
}
ol.lst-kix_hvqpbc65xht0-5.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-5 0
}
ol.lst-kix_hvqpbc65xht0-2.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-2 0
}
ul.lst-kix_2bblfua0gpsh-0{
  list-style-type:none
}
ul.lst-kix_2bblfua0gpsh-2{
  list-style-type:none
}
.lst-kix_i36ak4feape6-1>li:before{
  content:"\0025cb "
}
ul.lst-kix_2bblfua0gpsh-1{
  list-style-type:none
}
ul.lst-kix_2bblfua0gpsh-4{
  list-style-type:none
}
ul.lst-kix_2bblfua0gpsh-3{
  list-style-type:none
}
ul.lst-kix_2bblfua0gpsh-6{
  list-style-type:none
}
.lst-kix_klcrawnlove6-2>li{
  counter-increment:lst-ctn-kix_klcrawnlove6-2
}
ul.lst-kix_2bblfua0gpsh-5{
  list-style-type:none
}
.lst-kix_klcrawnlove6-0>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-0,decimal) ". "
}
ul.lst-kix_2bblfua0gpsh-8{
  list-style-type:none
}
ul.lst-kix_2bblfua0gpsh-7{
  list-style-type:none
}
.lst-kix_1125wxgjwlu-3>li:before{
  content:"\0025cf "
}
.lst-kix_aongerr0eg5b-7>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-7,lower-latin) ". "
}
.lst-kix_we7z5buoweb9-4>li:before{
  content:"\0025cb "
}
.lst-kix_ilelz54kri88-8>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-8,lower-roman) ". "
}
ol.lst-kix_hvqpbc65xht0-4.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-4 0
}
.lst-kix_muhjkkjc678r-7>li:before{
  content:"\0025cb "
}
ul.lst-kix_i36ak4feape6-0{
  list-style-type:none
}
.lst-kix_klcrawnlove6-8>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-8,lower-roman) ". "
}
ul.lst-kix_i36ak4feape6-1{
  list-style-type:none
}
ul.lst-kix_i36ak4feape6-2{
  list-style-type:none
}
ul.lst-kix_i36ak4feape6-3{
  list-style-type:none
}
.lst-kix_we7z5buoweb9-0>li:before{
  content:"\0025cf "
}
.lst-kix_we7z5buoweb9-8>li:before{
  content:"\0025a0 "
}
.lst-kix_hvqpbc65xht0-5>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-5,lower-roman) ". "
}
.lst-kix_aongerr0eg5b-4>li{
  counter-increment:lst-ctn-kix_aongerr0eg5b-4
}
.lst-kix_qydvrq81vklr-1>li:before{
  content:"\0025cb "
}
.lst-kix_klcrawnlove6-4>li:before{
  content:"" counter(lst-ctn-kix_klcrawnlove6-4,lower-latin) ". "
}
.lst-kix_i36ak4feape6-5>li:before{
  content:"\0025a0 "
}
.lst-kix_aongerr0eg5b-3>li:before{
  content:"" counter(lst-ctn-kix_aongerr0eg5b-3,decimal) ". "
}
.lst-kix_hvqpbc65xht0-1>li:before{
  content:"" counter(lst-ctn-kix_hvqpbc65xht0-1,lower-latin) ". "
}
.lst-kix_muhjkkjc678r-3>li:before{
  content:"\0025cf "
}
.lst-kix_tmzj1mxcrj2z-8>li{
  counter-increment:lst-ctn-kix_tmzj1mxcrj2z-8
}
.lst-kix_62gi6kif1qom-1>li:before{
  content:"\0025cb "
}
.lst-kix_xh84b1qleddc-7>li:before{
  content:"\0025cb "
}
ol.lst-kix_hvqpbc65xht0-3.start{
  counter-reset:lst-ctn-kix_hvqpbc65xht0-3 0
}
li.li-bullet-0:before{
  margin-left:-18pt;
  white-space:nowrap;
  display:inline-block;
  min-width:18pt
}
.lst-kix_hvqpbc65xht0-2>li{
  counter-increment:lst-ctn-kix_hvqpbc65xht0-2
}
.lst-kix_ilelz54kri88-0>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-0,decimal) ". "
}
.lst-kix_ilelz54kri88-3>li{
  counter-increment:lst-ctn-kix_ilelz54kri88-3
}
.lst-kix_ynq92p1zpo3w-8>li:before{
  content:"\0025a0 "
}
.lst-kix_ilelz54kri88-4>li:before{
  content:"" counter(lst-ctn-kix_ilelz54kri88-4,lower-latin) ". "
}
.lst-kix_qydvrq81vklr-5>li:before{
  content:"\0025a0 "
}
.lst-kix_rvposxbwk3oc-8>li{
  counter-increment:lst-ctn-kix_rvposxbwk3oc-8
}
#terms ol {
  margin: 0;
  padding: 0;
}

#terms table td,
#terms table th {
  padding: 0;
}

#terms .c9 {
  margin-left: 72pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c3 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

#terms .c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

#terms .c11 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c4 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c12 {
  padding-top: 18pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c13 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt;
  font-family: "Arial";
  font-style: normal;
}

#terms .c5 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

#terms .c10 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .c7 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}

#terms .c8 {
  color: #000000;
  width: 100%;
}

#terms .c1 {
  padding: 0;
  margin: 0;
}

#terms .c2 {
  font-weight: 700;
}

#terms .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

#terms p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

#terms h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

#terms h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
